@import '../../scss/functions/px-to-rem.scss';
@import '../../scss/mixins/variables.scss';

.link-box {
    display: flex;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: toRem(12);
        margin: toRem(30) auto;
    }

    .link-list {
        flex-basis: 70%;

        &__item {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            // flex-grow: 1;
            width: toRem(200);
            color: $color_light;
            gap: toRem(5);
            padding: toRem(10);
            box-shadow: 2px 1px 3px $emphasis_dark;

            &__title {
                font-size: toRem(24);
                line-height: toRem(24);
                text-shadow: 2px 1px 3px $emphasis_dark;
                text-wrap: wrap;
                width: toRem(85);
            }
        }
    }
}