@import '../mixins/variables.scss';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: "K2D", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}
  
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

select:focus-visible {
  outline: none;
  opacity: 1;
  box-shadow: 5px 5px 10px -6px $emphasis_dark;
}

input:focus-visible {
  outline: none;
  box-shadow: 5px 5px 10px -6px $emphasis_dark;
  opacity: 1;
}