@import "../../../scss/functions/px-to-rem.scss";
@import "../../../scss//mixins//variables.scss";
@import "../../../scss/mixins/breakpoints.scss";

.recipe-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: toRem(1065);
    margin: 0 auto;
    border: 2px black solid;

    @include breakpoint-above(sm) {
        flex-direction: row-reverse;
    }

    &__image {
        max-width: 100%;

        img {
            max-height: toRem(200);
            max-width: 100%;

                @include breakpoint-above(sm) {
                    max-height: toRem(600);
                    max-width: toRem(600);
                }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: toRem(5);
        font-size: toRem(22);
        background-color: $color_secondary;
        padding: toRem(30);
        margin: toRem(15);
    }
}